html {
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Navbare Starts*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #025766; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #026d80; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0398b3; 
}


body{
  min-height: 100vh;
  /*background:url(../images/Bluecrystals.png) no-repeat;
  background: url('https://static.vecteezy.com/system/resources/previews/010/335/382/non_2x/dark-blue-and-black-banner-background-free-photo.jpg');
  background: url("https://t3.ftcdn.net/jpg/04/02/14/88/240_F_402148864_p78YNfhSh7z3DWfYSfjgtqWod3CvsuKX.jpg");
  background: url("https://img.freepik.com/premium-vector/elegant-white-texture-background_23-2148431731.jpg?w=2000");
  background:    url("https://t3.ftcdn.net/jpg/04/02/14/88/240_F_402148864_p78YNfhSh7z3DWfYSfjgtqWod3CvsuKX.jpg");
  background: url("https://img.freepik.com/premium-vector/elegant-white-texture-background_23-2148431731.jpg?w=2000");

  background: url("https://e0.pxfuel.com/wallpapers/359/245/desktop-wallpaper-orange-and-black-gradient-dark-color-gradient.jpg");
  background: url("https://wallpaper.dog/large/5438782.jpg");*/
  background: url("https://cdn.wallpapersafari.com/46/67/JPHNvh.jpg");

  background-size: cover;
  background-position: center;
}

.side-bar{
  background-color: black;
  opacity:0.8;
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a{
  color: #03aecc;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #1F252E;
  color: #01EEFE;
  transition: 0.3s ease;
}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #04c3e6;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.menu-btn{
  position: absolute;
  color: #04c3e6;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}

/*Navbare Ends*/

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1{
  color: #04c3e6;
  font-size: 17px;
  text-align: center;

@media (max-width: 900px){
  .main h1{
    font-size: 40px;
    line-height: 60px;
  }

  
